/* Existing CSS */

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/wallpaper.jpg) center/cover fixed no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
  height: 40px;
  width: auto;
}

.header .title {
  flex-grow: 1;
  text-align: center;
  color: #fff;
  margin: 0;
}

.menu-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
}

.menu-button img {
  border-radius: 50%;
}

.menu-item {
  list-style: none;
  padding: 8px;
  border-radius: 0.45em;
  cursor: pointer;
  user-select: none;
}

.menu-item:hover {
  background-color: #d1fcd3;
  color: aqua;
}

.menu-root {
  font-size: 0.875rem;
  padding: 5px;
  margin-top: 10px;
  min-width: 200px;
  background: #555;
  border: 1px solid black;
  border-radius: 0.75em;
  color: white;
  overflow: auto;
  outline: 0px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chat-box {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background: linear-gradient(
    135deg rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.groups {
  flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.groups,
.chats {
  overflow-y: auto;
  padding: 20px;
}

.chats {
  flex: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-right: 0px;
}

.group-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
  padding: 15px 10px;
  width: 100%;
  border-bottom: 1px solid white;
}

.group-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-overflow: capitalize;
}

.group-item p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

.chats {
  padding-left: 10px;
}

.chat-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.chat-item.me {
  background-color: #d1fcd3;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  width: fit-content;
  max-width: 70%;
}

.chat-item.you {
  background-color: #fcd1d1;
  align-self: flex-start;
  width: fit-content;
  max-width: 70%;
  margin-right: auto;
}

.chat-item p {
  margin: 0;
}

.groups::-webkit-scrollbar,
.chats::-webkit-scrollbar {
  width: 5px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}

.search {
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  width: 15rem;
  height: 2rem;
  padding: 0 20px;
  color: #fff;
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 15%;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
}

.chats-header {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
}

.chats-header h2 {
  margin: 5px;
  font-size: 18px;
}

.chats-header p {
  margin: 5px;
  color: #666;
}

.profile-modal-box,
.group-modal-box,
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  border-radius: 8px;
}

.profile-content {
  text-align: center;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.close-button {
  display: block;
  margin: 16px auto;
  padding: 8px 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.group-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-results {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-result-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.selected-users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.message-input-container {
  background-color: #0d1d19;
}

.message-input {
  width: 30vw;
}

.message-container::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thin */
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #6ebdaa; /* Change the scrollbar thumb color to blue */
  border-radius: 10px; /* Make the scrollbar thumb rounded */
}

.message-container::-webkit-scrollbar-track {
  background: transparent; /* Set the scrollbar track background to transparent */
}
.typing-indicator {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 60px; /* Position it above the message input */
  left: 10px; /* Adjust the horizontal position as needed */
  z-index: 1; /* Ensure it appears above other content */
}

/* Responsive CSS */

@media (max-width: 768px) {
  .message-container {
    margin-bottom: -50px;
  }
  .message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #0d1d19; /* Ensure background color matches */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
  }

  .message-input {
    width: calc(100% - 20px); /* Adjust width to fit within container padding */
  }
  .search {
    width: 10rem; /* Adjust the width for mobile view */
  }
  .chat-box {
    flex-direction: column;
    width: 90vw;
  }
  .typing-indicator {
    bottom: 80px; /* Adjust for mobile view */
  }

  .groups {
    width: 100%;
    border-right: none;
  }

  .back-icon {
    display: none;
    cursor: pointer;
  }

  .chats {
    width: 100%;
    display: none;
    padding-bottom: 60px; /* Hide chats section */
  }

  .chat-box.chat-selected .chats {
    display: block; /* Show chats section when a chat is selected */
  }

  .chat-box.chat-selected .groups {
    display: none; /* Hide groups section when a chat is selected */
  }
}

@media (max-width: 600px) {
  .search {
    width: 8rem; /* Further adjust the width for smaller screens */
  }

  .search-wrapper form {
    width: 100%;
  }

  .search {
    width: 100%;
    box-sizing: border-box;
  }

  .search-wrapper {
    flex-direction: row; /* Keep it row on mobile view */
    gap: 0.5rem; /* Reduce gap for smaller screens */
  }

  .search-wrapper button {
    margin-top: 0; /* Remove the margin top */
  }
  .search-icon {
    top: 5px;
  }
  .back-icon {
    display: block; /* Show the back icon on mobile view */
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
  }

  .chatSection-header {
    display: flex;
    align-items: center;
  }
}
